<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@next"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">

        <h1 class="text-center">{{ activity }} Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">
                <!-- Display an error alert message if the form contains any validator errors. -->
                <div class="alert alert-danger" v-if="errors.length > 0">
                    <ul>
                        <li v-for="error in errors">{{ error }}</li>
                    </ul>
                </div>

                <!-- TODO (using v-if directive): display different colors based on results...-->

                <div class="form-group">
                    <label class="form-label" for="date">What date did you do this activity?</label>
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you practice for?</label>
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">What type?</label>
                    <select class="form-control" v-model="type">
                        <option v-for="activityType in types">{{ activityType }}</option>

                    </select>
                </div>

                <div class="form-label pb-2">
                    What media?
                </div>

                <div class="form-check-inline">
                    <input id="media1" class="form-check-input" type="radio" value="Traditional" v-model="medium">
                    <label class="form-check-label" for="media1">Traditional</label>
                </div>

                <div class="form-check-inline">
                    <input id="media2" class="form-check-input" type="radio" value="Digital" v-model="medium">
                    <label class="form-check-label" for="media2">Digital</label>
                </div>

                <!-- Completed? form option. -->
                <div class="form-check">
                    <input id="media3" class="form-check-input" type="checkbox" v-model="completed">
                    <label class="form-check-label" for="media3">Completed?</label>
                </div>

                <!-- Notes text area. -->
                <div class="form-check">
                    <label class="form-check-label" for="textarea">Notes:</label>
                    <textarea class="form-control" id="textarea" rows="3" v-model="notes"></textarea>
                </div>

                <!-- Add record button. -->
                <div>
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                </div>
                
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>
            <div class="card-body">

                <h3>{{ totalRecordsMessage }}</h3>

                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Media</th>
                            <th>Completed?</th>
                            <th>Notes</th>
                        </tr>
                        <tr v-for="record in activityRecords">
                            <td>{{ formatDate(record.date) }}</td>
                            <td>{{ record.hours }}</td>
                            <td>{{ record.type }}</td>
                            <td>{{ record.medium }}</td>
                            <td>{{ record.completed }}</td>
                            <td>{{ truncateNotesMessage(record.notes) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Summary</h2>
            <div class="card-body">
                <p>You have practiced a total of {{ totalHours }} hours.</p>
            </div>
        </div>
    </div>

    <script>
        let app = Vue.createApp({
            data() {
                return {
                    activity: 'Gaming Practice',

                    activityRecords: [],

                    // v-model for the form input
                    dateString: '',
                    hours: 1,
                    type: '',
                    medium: '',
                    completed: false,
                    notes: '',

                    types: ['Traditional', 'Competitive', 'Professional'],

                    errors: []
                }
            },
            methods: {
                submit() {
                    // Clear our error list.
                    this.errors = []

                    // Create a new date object, passing the v-model.
                    let date = new Date(this.dateString)

                    // Is the date today or in the past?
                    //  It cannot be in the past or future.
                    if (!this.dateString || this.dateString == 'Invalid Date' || date > new Date()) {
                        this.errors.push('Please select a valid date! Today or in the past.')
                    }

                    // Make sure we're entering a valid number of hour or hours.
                    if (this.hours <= 0 || this.hours > 24) {
                        this.errors.push('Please select a valid time!')
                    }

                    // Make sure we're selecting a valid type.
                    if (!this.type) {
                        this.errors.push('Please select a type!')
                    }

                    // Make sure we're selecting a valid medium.
                    if (!this.medium) {
                        this.errors.push('Please select a medium!')
                    }

                    // Process if we have no errors.
                    if (this.errors.length === 0) {
                        let record = {
                            date: date,
                            hours: this.hours,
                            type: this.type,
                            medium: this.medium,
                            completed: this.completed,
                            notes: this.notes
                        }

                        // Add the record to the list.
                        this.activityRecords.push(record)

                        // Sort the oldest records first, with the most recent ones at the end.
                        this.activityRecords.sort(function(r1, r2) {
                            return r1.date.getTime() - r2.date.getTime()
                        })
                    }
                },
                // Format the date to US-style.
                formatDate(date) {
                    return new Intl.DateTimeFormat('en-US', {timeZone: 'UTC'}).format(date)
                },
                
                // Truncate the note with '...' if we exceed 40 characters.
                truncateNotesMessage(notes) {
                    if (notes.length > 40) {
                        return notes.substring(0, 40) + '...'
                    } else {
                        return notes
                    }
                }
            },
            computed: {
                totalRecordsMessage() {
                    let numberOfRecords = this.activityRecords.length
                    if (numberOfRecords === 1) {
                        return '1 record'
                    } else {
                        return numberOfRecords + ' records'
                    }
                },
                totalHours() {
                    let total = 0
                    this.activityRecords.forEach( (record) => {
                        total = total + record.hours
                    })
                    
                    return total
                },
            }
        })

        app.mount('#app')
    </script>

</body>
</html>
